@import "./reset";
@mixin flex($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}
section {
  @include flex(row);
  width: 100%;
  height: 100vh;
  @include mobile {
    @include flex(column);
  }

  .item {
    width: 100%;
    height: 100%;
    flex: 1;
    transition: 0.3s ease flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &.show {
      flex: 8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .caption {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 30px;
      padding: 30px;
      color: wheat;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      box-shadow: 0 0 10px blue;
      text-shadow: 0 0 10px blue;
      border: 2px solid black;
    }
    &.show .caption {
      opacity: 1;
    }
  }
}
